<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
      <div class="text-center">
       <img alt="homepage" src="assets/images/logo.png">
      </div>
      <div fxLayout="row wrap">
        <!-- col full-->
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
          <mat-form-field>
            <input matInput type="text" formControlName="usuario" placeholder="Usuario" maxlength="20">
            <mat-error *ngIf="loginForm.hasError('required', ['usuario'])" class="text-danger font-11">Usuario es requerido</mat-error>
          </mat-form-field>
        </div>
        <!-- col full-->
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
          <mat-form-field >
            <input  matInput type="password" formControlName="password" placeholder="Contraseña" maxlength="20">
            <mat-error align="start" *ngIf="loginForm.hasError('required', ['password'])" class="text-danger font-11">Contraseña es requerido</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxLayoutAlign="center center" class="p-b-20" *ngIf="this.isLoad">
          <mat-spinner color="primary"  [diameter]="25"></mat-spinner>
        </div>

        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="p-t-10" >
          <button mat-flat-button color="primary" class="btn-block btn-lg " type="submit" [disabled]="!loginForm.valid || this.isLoad">Ingresar</button>
        </div>
        <div fxFlex="100" fxLayoutAlign="center center" class="text-danger p-t-10" *ngIf="this.error">
          <strong>
          {{this.error}}
          </strong>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
