//.link-logo {
//  background-image: url(/assets/images/logo/mc4-logo-link.svg);
//}
.body-container{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

