
<mat-card>
    <mat-card-header class="mat-card-header-dialog">
      <span>{{form.controls['id'].value?"Editar Correspondencia":"Crear Correspondencia"}}</span>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <div fxLayout="row wrap" fxFlexAlign="center">
          <div fxFlex.gt-xs="100" fxFlex="100">
            <div fxLayout="row wrap">
                <div fxFlex.gt-xs="50" fxFlex="50" class="p-l-10">
                    <mat-form-field hintlabel="Solo se permite texto, máximo 60 caracteres">
                        <input type="text" formControlName="cite" matInput #input maxlength="60" placeholder="Cite" >
                        <mat-error>Solo se permite texto, máximo 60 caracteres.</mat-error>
                    </mat-form-field>
                </div>
              <div fxFlex.gt-xs="50" fxFlex="50" class="p-l-10">
                  <mat-form-field hintlabel="Solo se permite texto, máximo 60 caracteres" class="example-full-width">
                      <input type="text" formControlName="fecharegistro" matInput #input maxlength="60" placeholder="Fecha Registro" readonly>
                      <mat-error>Solo se permite texto, máximo 60 caracteres.</mat-error>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-xs="50" fxFlex="50" class="p-l-10">
                  <mat-form-field hintLabel="Solo dato numérico, mínimo 7 y máximo 8 dígitos" class="example-full-width">
                      <input type="text" id="telefono" formControlName="tipo" matInput #cantidad
                          maxlength="8" placeholder="Tipo">
                          <mat-error>Solo se permite dato numérico, mínimo 7 y  máximo 8 dígitos.</mat-error>
                          <mat-hint align="end">{{cantidad.value.length}}</mat-hint>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-xs="50" fxFlex="50" class="p-l-10">
                  <mat-form-field hintLabel="Solo se permite texto, máximo 50 caracteres" class="example-full-width">
                      <input type="text" formControlName="estado" matInput #input
                      maxlength="50" placeholder="Estado" readonly>
                      <mat-error>Solo se permite texto, máximo 50 caracteres.</mat-error>
                  </mat-form-field>
              </div>
              <div fxFlex.gt-xs="50" fxFlex="50" class="p-l-10">
                  <mat-form-field class="example-full-width">
                      <input id="email" type="text" formControlName="asunto" matInput placeholder="Asunto" 
                     readonly>
                      <mat-error>Asunto requerido.</mat-error>
                  </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div mat-dialog-actions [style.text-align]="'right'" class="botones-footer-dialog-right">
      <button id="guardar" name="guardar" mat-flat-button color="primary" (click)="guardar()"
      class="botones-footer-dialog" [disabled]="!form.valid"> Guardar</button>
    <button id="cancelar" name="cancelar" mat-stroked-button color="warn" (click)="close()" class="botones-footer-dialog">
      Cancelar </button>
  </div>
  