.body-container{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img-back {
  position:fixed;
  top:-40%;
  left:-50%;
  width:150%;
  height:145;
}