
<mat-card>
  <mat-card-header class="mat-card-header-dialog">
    <span>{{form.controls['id'].value?"Modificar Recurso":"Crear Recurso"}}</span>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div fxLayout="row wrap" fxFlexAlign="center">
        <div fxFlex.gt-xs="100" fxFlex="100">
          <div fxLayout="row wrap">
            <div fxFlex.gt-xs="50" fxFlex="50" class="p-l-10">
              <mat-form-field hintLabel="Solo se permite texto, máximo 50 caracteres" class="example-full-width">
                <input type="text" formControlName="nombre" matInput #input maxlength="50" placeholder="Nombre"
                    required pattern="^[a-zA-ZñÑ-áéíóúáéíóúÁÉÍÓÚ\s]+">
                <mat-error>Solo se permite texto, máximo 120 caracteres</mat-error>
            </mat-form-field>
            </div>
            <div fxFlex.gt-xs="50" fxFlex="50" class="p-l-10">
              <mat-form-field hintLabel="Solo se permite texto y números, máximo 50 caracteres" class="example-full-width">
                <input type="text" formControlName="url" matInput #input maxlength="255" placeholder="URL" required
                    pattern="[a-zA-Z.Ññ0-9\s]+" readonly>
                <mat-error>Solo se permite texto sin espacios, máximo 255 caracteres</mat-error>
            </mat-form-field>
            </div>
            <div fxFlex.gt-xs="50" fxFlex="50" class="p-l-10">
              <mat-form-field>
                <mat-select [formControl]="this.form.controls['icono']" placeholder="Ícono">
                  <mat-select-trigger>
                    <mat-icon>{{ this.form.get('icono').value }}</mat-icon>
                  </mat-select-trigger>
                  <mat-option *ngFor="let icon of this.listaIconos" [value]="icon">
                    <mat-icon matListIcon>{{icon}}</mat-icon>Seleccionar este ícono
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<div mat-dialog-actions [style.text-align]="'right'" class="botones-footer-dialog-right">
    <button id="guardar" name="guardar" mat-flat-button color="primary" (click)="guardar()"
    class="botones-footer-dialog" [disabled]="!form.valid" > Guardar </button>
  <button id="cancelar" name="cancelar" mat-stroked-button color="warn" (click)="close()" class="botones-footer-dialog">
    Cancelar </button>
</div>
