<mat-card>
  <mat-card-content>
    <!-- <mat-card-title>Componente Configuración Ponderación</mat-card-title> -->
    <div fxLayout="row wrap" class="centrear">
      <div fxFlex="90">
        <h3 class="quitar-margin-top-bottom-h3">Prioridad</h3>
      </div>
    </div>
    <br>
    <hr class="hr-titulo">
    <div fxLayout.lg="row" fxLayout.sm="row" fxLayout.md="row" fxLayout.xs="column">
      <div fxFlex.lg="25" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100" class="btn-header">
        <button
          [style.width]="'100%'" id="btnCrear" class="btn" mat-raised-button color="primary"
          (click)="abrirDialogo(null)">
          <mat-icon>add</mat-icon> &nbsp; Crear Prioridad
        </button>
      </div>
      &nbsp;
    </div>
    <br>
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <ngx-datatable #table 
          class='material' 
          [headerHeight]="50" 
          [footerHeight]="50" 
          [rowHeight]="'auto'"
          [rows]="this.lista" 
          [scrollbarH]="true"
          [columnMode]="'force'" 
          [limit]="10">
          <ngx-datatable-column name="Acciones" [maxWidth]="150" [draggable]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div fxLayout="row wrap">

                    <div fxFlex="380" fxFlexAlign="start start">
                      <button id="btnEditar" mat-icon-button matTooltip="Modificar"
                              (click)="this.abrirDialogo(row)">
                        <mat-icon color="primary" class="iconSmall">edit</mat-icon>
                      </button>
                      <button id="btnEliminar" mat-icon-button
                              (click)="this.eliminar(row)">
                        <mat-icon color="warn" matTooltip="Eliminar">delete</mat-icon>
                      </button>
                    </div>
                  </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Nombre" [width]="100" [draggable]="false" [resizeable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.nombre}}
              </ng-template>
            </ngx-datatable-column>
          <ngx-datatable-column name="Frecuencia" [width]="100" [draggable]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.frecuencia}}&nbsp; días
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Anticipación" [width]="100" [draggable]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.cantdias}}&nbsp; días
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </mat-card-content>
</mat-card>